<div class="industrial-visit-list-card-component">
    <div class="content-container">
        <div class="department-based-container">
            <h2>{{ industryDetails.name }} </h2>
            <div class="department-lists-container" *ngIf="deptKey.length > 0">
                <div class="dept-lists" *ngFor="let dept of deptKey">
                    <p class="dept-title">{{ departments[dept] }}</p>
                    <div class="dept-iv-lists">
                        <div class="dept-iv-list" *ngFor="let deptIvData of departmentBased[dept]"
                            [ngStyle]="{ 'background-color': deptIvData.bgColor }"
                            (click)="handleRedirect('iv', deptIvData.ivId)">
                            <div class="title-container">
                                <div class="cover-image"
                                    [ngStyle]="{ 'background-image': 'url(/assets/images/iv-image.jpg)' }"></div>
                                <p class="title">{{ deptIvData.ivTitle }}</p>
                            </div>
                            <div class="count-container">
                                <div class="label-count">
                                    <label>Total Allowed Institute</label>
                                    <p class="iv-count">{{ deptIvData.totalAllowedInstitute }}</p>
                                </div>
                                <div class="label-count">
                                    <label>Total Applied Institutes</label>
                                    <p class="iv-count">{{ deptIvData.totalAppliedInstitute }}</p>
                                </div>
                                <div class="label-count">
                                    <label>Total Allowed <br> Faculty & Students</label>
                                    <p class="iv-count">{{ deptIvData.allowedFaculty }} - {{ deptIvData.allowedStudents
                                        }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <loader [id]="'global'" type="fancy" [show]="loading"></loader>
</div>