.industrial-visit-list-card-component {
    .content-container {
        margin: 5rem 20rem;
        .company-based-container {
            .company-lists-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 16px;
                .company-lists {
                    .title-container {
                        min-height: 130px;
                        padding: 50px 30px 35px;
                        position: relative;
                        .cover-image {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0.5;
                            object-fit: cover;
                            object-position: center;
                            background-blend-mode: luminosity;
                            background-position: 50%;
                            background-size: cover;
                        }
                        .title {
                            font-weight: 600;
                            margin: 0px;
                            font-family: roboto, sans-serif;
                            color: white;
                            position: relative;
                            font-size: 25px;
                        }
                    }
                    .count-container {
                        display: flex;
                        width: 100%;
                        font-family: roboto, sans-serif;
                        .label-count{
                            width: 50%;
                            text-align: center;
                            padding: 10px 12px;
                            border: 1px solid white;
                            color: white;
                            font-weight: 600;
                            &:first-child{
                                border-right: 0;
                            }
                            .iv-count {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }

        .department-based-container {
            margin-top: 3rem;
            .department-lists-container {
                .dept-lists {
                    padding-bottom: 2rem;
                    border-bottom: 2px solid;
                    .dept-title {
                        text-transform: uppercase;
                        font-weight: 500;
                        margin: 2rem auto;
                        font-size: 18px;
                    }
                    .dept-iv-lists {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 16px;
                        .dept-iv-list {
                            cursor: pointer;
                            .title-container {
                                min-height: 130px;
                                padding: 50px 30px 35px;
                                position: relative;
                                .cover-image {
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    opacity: 0.5;
                                    object-fit: cover;
                                    object-position: center;
                                    background-blend-mode: luminosity;
                                    background-position: 50%;
                                    background-size: cover;
                                }
                                .title {
                                    font-weight: 600;
                                    margin: 0px;
                                    font-family: roboto, sans-serif;
                                    color: white;
                                    position: relative;
                                    font-size: 25px;
                                }
                                .industry-name {
                                    font-weight: 600;
                                    margin: 0px;
                                    font-family: roboto, sans-serif;
                                    color: white;
                                    position: relative;
                                    font-size: 18px; 
                                    padding-top: 15px;
                                }
                            }
                            .count-container {
                                display: flex;
                                width: 100%;
                                font-family: roboto, sans-serif;
                                .label-count{
                                    width: 50%;
                                    text-align: center;
                                    padding: 10px 12px;
                                    border: 1px solid white;
                                    color: white;
                                    font-weight: 600;
                                    &:first-child{
                                        border-right: 0;
                                    }
                                    .iv-count {
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}